html, body {
    margin: 10;
    padding: 10;
    text-align: left;
    background-color: aquamarine;
}

main{
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(117, 150, 61);
}
h1{
position: relative;
font-size: x-large;
color: rgb(0, 104, 104);
margin-right: 200px;
}
h2{
position: relative;
font-size: large;
color: darkblue;
}
p{
font-size: small;
color: rgb(0, 51, 51);
}
a:link, a:visited{
    color:rgba(100, 148, 237, 0.5);

}
#event{
    width: 50%;
    padding: 5px;
}

#eventForm {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    
}
.button {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border: 5px;
    text-align: center;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}

header, footer {   
    color: rgb(0, 0, 0);
    background-color:darkgreen;
    text-align: center;
    padding: 5px;
    position: relative;
    width: auto;
    margin-left: 15%;
    margin-right: 15%; 
}
  