html, body {
    margin: 10;
    padding: 10;
    text-align: left;
    background-color: aquamarine;
}

main{
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}
h1{
position: relative;
font-size: large;
color: darkcyan;
margin-right: 200px;
}
h2{
position: relative;
font-size: medium;
color: darkblue;
}
p{
font-size: small;
color: darkslategray;
}
a:link, a:visited{
    color:cornflowerblue;

}
#event{
    width: 50%;
    padding: 5px;
}

#eventForm {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    
}
.button {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border: 5px;
    text-align: center;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
   
    float: left;
}

header, footer {   
    font-family: 'Kalam';
    color: rgb(150,0,0);
    background-color:rgb(200, 50, 50);
    text-align: center;
    padding: 5px;
    color: rbga(200,200,50,.85);
    position: relative;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    
    
}
  