<footer>
    <div id = 'footerBar'>
        <a href="about.html">ABOUT</a>
        ||
        <a href="contact.html">CONTACT</a>
    </div>
    <div>
        <a href="https://validator.w3.org/check?uri=referer">
            <img class="validatorPic" src="images/button-valid-html5.gif" alt="Link to HTML validator">
        </a>

        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img class="validatorPic" src="images/button-valid-css.gif" alt="Link to CSS validator">
        </a>
    </div>
</footer>