
    <header>
        
            <div id = 'logo'> 
                <a href= 'index.html'>
                    <img border='0' width ='300' height='200' src="images/logo.jpg" alt='HOME'>
                </a>

            </div>
        <nav>
            <div id = 'navBar'>
                <a href="newConnection.html">Start a new Connection</a>
                ||
                <a href="index.html">LOGIN</a>
                ||
                <a href="index.html" >SIGN-UP</a>
            </div>

        </nav>
    </header>