<!DOCTYPE html>

<html>

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <title>Home</title>

</head>

<body>
    <h2>Students</h2>
   <%   if(students.length > 0 ) {%> 
    <ul>
        <%  students.forEach((student) => {  %>
        <li><%= student.name %></li>
    <% }) %> 
    </ul>
<%  } else { %>
<p>No student matches the ID</p>
 <%}%> 
</body>
</html>
