<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>Home Page</h2>
        <p> Yada dada dada dada daddadda body yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti </P>
        yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti 
        yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti 
        yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti yotti 
        <stron style="color:red"><em>Look at home i bodied that</em></stron></p>
    </body>
</html>